<section>
  <div class="master-nav-div">
    <div class="logo">
      <p class="ems">Employee Management System</p>
    </div>

    <div class="topnav" id="myTopnav">
      <a href="/ems.html">Home</a>
      <a href="/dtr/dtr.html" class="active">Daily Time Record</a>
      <a href="/attendance/attendance.html">Attendance</a>
      </a>
    </div>

    <div class="search-bar-div">
      <button type="submit" class="search-btn">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <input class="searchBar" type="text" placeholder="Search" />
    </div>

    <!-- dropdown button sa profile -->
    <div class="dropdown">
      <button
        class="dropbtn"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa fa-user" aria-hidden="true"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Employee</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">My Profile</a></li>
        <li><a class="dropdown-item" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</section>