{{> nav-bar}}

<div class="mx-10 mt-28 mb-10 flex flex-row items-center">
    <button type="button" class="pt-1">
        <img src="https://www.svgrepo.com/show/13655/back.svg" class="box-sizing h-4 w-4"/>
    </button>
    <p class="text-2xl ml-4 font-semibold text-slate-800">Add Employee Profile</p>

</div>


<div class="mx-10">

    <div class="flex flex-row mb-4">
        <div class="basis-2/5 mr-2">
            <label for="" class="block mb-0.5 text-sm font-medium text-gray-900">First Name</label>
            <input type="" id="" class="rounded-lg bg-gray-50 border text-gray-900 focus:ring-slate-500 focus:border-slate-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" placeholder="Juan">
        </div>
        <div class="basis-2/5 mr-2">
            <label for="" class="block mb-0.5 text-sm font-medium text-gray-900">Last Name</label>
            <input type="" id="" class="rounded-lg bg-gray-50 border text-gray-900 focus:ring-slate-500 focus:border-slate-500 block flex-1 w-full text-sm border-gray-300 p-2.5" placeholder="Dela Cruz">
        </div>
        <div class="basis-1/5">
            <label for="" class="block mb-0.5 text-sm font-medium text-gray-900">Suffix</label>
            <input type="" id="" class="rounded-lg bg-gray-50 border text-gray-900 focus:ring-slate-500 focus:border-slate-500 block flex-1 w-full text-sm border-gray-300 p-2.5" placeholder="Sr.,Jr.,III">
        </div>
    </div>

    <div class="flex flex-row mb-4">
        <div class="basis-1/2 mr-2">
            <label for="" class="block mb-0.5 text-sm font-medium text-gray-900">Phone Number</label>
            <input type="" id="" class="rounded-lg bg-gray-50 border text-gray-900 focus:ring-slate-500 focus:border-slate-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" placeholder="09XX-XXX-XXXX">
        </div>
        <div class="basis-1/2">
            <label for="" class="block mb-0.5 text-sm font-medium text-gray-900">Position</label>
             <button 
                    id="dropdownDefault" 
                    data-dropdown-toggle="dropdown_position" 
                    class="w-full text-gray-900 border border-gray-300 bg-gray-50 hover:bg-gray-300 focus:ring-2 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-4 py-2.5 flex flex-row items-center justify-between" type="button">Choose

                    <svg 
                    class="flex flex-row items-center ml-2 w-4 h-4 z-99" 
                    aria-hidden="true" 
                    fill="none" 
                    stroke="currentColor" 
                    viewBox="0 0 24 24" 
                    xmlns="http://www.w3.org/2000/svg">
                    
                    <path 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        stroke-width="2" 
                        d="M19 9l-7 7-7-7"
                    </path>
                </svg>
                </button>
                <!-- Dropdown menu -->
                <div 
                id="dropdown_position" 
                class="hidden z-10 border border-gray-300 w-44 bg-gray-50 rounded divide-y divide-gray-100 shadow" 
                data-popper-reference-hidden="" 
                data-popper-escaped="" 
                data-popper-placement="bottom" 
                style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 689px);">
                    <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownDefault">
                        <li>
                            <a href="#" class="block py-2 px-4 text-gray-900 bg-gray-50 hover:bg-gray-300">Admin</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-4 text-gray-900 bg-gray-50 hover:bg-gray-300">Employee</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-4 text-gray-900 bg-gray-50 hover:bg-gray-300">Cashier</a>
                        </li>
                    </ul>
                </div>
        </div>

    </div>
    <div class="flex flex-row mb-4">
        <div class="basis-1/2 mr-2">
            <label for="" class="block mb-0.5 text-sm font-medium text-gray-900">Full Address</label>
            <input 
            type="" 
            id="" 
            class="rounded-lg bg-gray-50 border text-gray-900 focus:ring-slate-500 focus:border-slate-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" 
            placeholder="House #, Street, Subd., Brgy., City">
        </div>
        <div class="basis-1/2">
            <label for="" class="block mb-0.5 text-sm font-medium text-gray-900">Email Address</label>
            <input type="" id="" class="rounded-lg bg-gray-50 border text-gray-900 focus:ring-slate-500 focus:border-slate-500 block flex-1 w-full text-sm border-gray-300 p-2.5" placeholder="jdelacruz@email.com">
        </div>
    </div>

    <div class="flex flex-row mb-4">
        <div class="basis-1/2 mr-2">
            <label for="" class="block mb-0.5 text-sm font-medium text-gray-900">Username</label>
            <input 
            type="" 
            id="" 
            class="rounded-lg bg-gray-50 border text-gray-900 focus:ring-slate-500 focus:border-slate-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" 
            placeholder="jdelacruz">
        </div>
        <div class="basis-1/2">
            <label for="" class="block mb-0.5 text-sm font-medium text-gray-900">Password</label>
            <input type="" id="" class="rounded-lg bg-gray-50 border text-gray-900 focus:ring-slate-500 focus:border-slate-500 block flex-1 w-full text-sm border-gray-300 p-2.5" placeholder="XXX-XXX">
        </div>
    </div>

    <div class="flex flex-row mb-4">
        <div class="basis-1/2 mr-2">
                <label for="" class="block mb-0.5 text-sm font-medium text-gray-900">Current Status</label>
                <button 
                    id="dropdownDefault" 
                    data-dropdown-toggle="dropdown_status" 
                    class="w-full text-gray-900 border border-gray-300 bg-gray-50 hover:bg-gray-300 focus:ring-2 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-4 py-2.5 flex flex-row items-center justify-between" type="button">Choose

                    <svg 
                    class="flex flex-row items-center ml-2 w-4 h-4 z-99" 
                    aria-hidden="true" 
                    fill="none" 
                    stroke="currentColor" 
                    viewBox="0 0 24 24" 
                    xmlns="http://www.w3.org/2000/svg">
                    
                    <path 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        stroke-width="2" 
                        d="M19 9l-7 7-7-7"
                    </path>
                </svg>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown_status" class="hidden z-10 border border-gray-300 w-44 bg-gray-50 rounded divide-y divide-gray-100 shadow" 
                    data-popper-reference-hidden="" 
                    data-popper-escaped="" 
                    data-popper-placement="bottom" 
                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 689px);">
                    <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownDefault">
                        <li>
                            <a href="#" class="block py-2 px-4 text-gray-900 bg-gray-50 hover:bg-gray-300">Active</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-4 text-gray-900 bg-gray-50 hover:bg-gray-300">On Leave</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-4 text-gray-900 bg-gray-50 hover:bg-gray-300">Terminated</a>
                        </li>
                    </ul>
                </div>

        </div>
        <div class="basis-1/2 flex flex-col items-center">
            <label for="" class="block mb-0.5 text-sm font-medium text-gray-200">Password</label>
            <button 
            type="button"
            class="block text-gray-50 font-semibold flex-1 w-5/6 text-sm rounded-lg border-gray-300 p-2.5 bg-gradient-to-r from-slate-500 via-slate-600 to-slate-700 hover:bg-gradient-to-br">
                Submit
            </button>
        </div>
    </div>
</div>