{{! overall div lg para sa sizing ng lahat ng divs }}
<div class="flex flex-row h-full">

  {{! bg image div (2/3 ang width) }}
  <div
    class="w-1/3 h-full bg-local flex place-content-center items-center rotate-180"
    style="background-image: url(/public/bg-slate-final.jpg)"
  >
    <div
      class="rounded-lg h-64 w-full mx-12 bg-slate-200 drop-shadow-2xl rotate-180 shadow-2xl shadow-black flex flex-col items-center"
    >
      <h1 class="mt-8 text-2xl font-extrabold">ATTENDANCE RECORD</h1>

      <div class="flex flex-col items-center mt-6">
        <div>
          <label
            for="website-admin"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 mx-8"
          >Input Employee ID</label>
          <div class="flex mx-8">
            <div
              class="inline-flex items-center px-3 text-gray-900 bg-white rounded-l-md border border-r-0 border-gray-300"
            >
              <img
                src="https://www.svgrepo.com/show/62843/id-card.svg"
                class="h-5 w-5"
              />
            </div>
            <input
              type="text"
              id="website-admin"
              class="rounded-none rounded-r-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
              placeholder="123456"
            />
          </div>

        </div>
        <button
          class="place-items-center mt-4 place-content-center text-white bg-gradient-to-r from-gray-500 via-gray-800 to-slate-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center shadow-2xl"
        >Time-in/Time-out</button>
      </div>

    </div>
  </div>

  {{! overflow-x-auto relative }}
  <div class="overflow-x-auto relative w-2/3 h-full flex items-start">
    <table
      class="w-screen overflow-hidden text-sm text-left text-gray-500 m-8 shadow-xl shadow-gray-400"
    >
      <thead class="text-xs text-gray-300 uppercase bg-slate-900">
        <tr>
          <th scope="col" class="py-3 px-6">
            Attendance ID
          </th>
          <th scope="col" class="py-3 px-6">
            Employee ID
          </th>
          <th scope="col" class="py-3 px-6">
            Activity
          </th>
          <th scope="col" class="py-3 px-6">
            Date & Time
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b">
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-wrap"
          >
            Apple MacBook Pro 17"
          </th>
          <td class="py-4 px-6">
            Sliver
          </td>
          <td class="py-4 px-6">
            Laptop
          </td>
          <td class="py-4 px-6">
            $2999
          </td>
        </tr>
        <tr class="bg-white border-b">
          <th
            scope="row"
            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
          >
            Microsoft Surface Pro
          </th>
          <td class="py-4 px-6">
            White
          </td>
          <td class="py-4 px-6">
            Laptop PC
          </td>
          <td class="py-4 px-6">
            $1999
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>