{{> nav-bar}}

<div class="flex flex-row mt-28 mb-12 mx-10">
    {{!-- <div type="button" class="pt-2.5 mr-8 ">
      <img src="https://www.svgrepo.com/show/13655/back.svg" class="box-sizing h-4 w-4 rotate-180"/>
    </div> --}}
    <p class="font-semibold text-4xl text-slate-800">Employee Personal Information</p>

</div>

<div class="overflow-x-auto relative mx-10">
  <table class="w-full text-sm text-left text-gray-500">
    <thead
      class=" text-left text-xs text-gray-300 uppercase bg-slate-700"
    >
      <tr>
        <th scope="col" class="py-3 px-6">
          Employee ID
        </th>
        <th scope="col" class="py-3 px-6">
          Last Name
        </th>
        <th scope="col" class="py-3 px-6">
          FIrst Name
        </th>
        <th scope="col" class="py-3 px-6">
          Phone
        </th>
        <th scope="col" class="py-3 px-6">
          Status
        </th>
        <th scope="col" class="py-3 px-6">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b text-left">
        <th
          scope="row"
          class="py-4 px-6 font-medium font-semibold text-gray-900 whitespace-nowrap"
        >
          1
        </th>
        <td class="py-4 px-6">
          Seprado
        </td>
        <td class="py-4 px-6">
          Louise Lynne
        </td>
        <td class="py-4 px-6">
          79895
        </td>
        <td class="py-4 px-6">
          Active
        </td>
        <td class="py-4 px-6">
            <div class="flex flex-row place-content-start">
              <button type="button" class="flex flex-row h-8 place-items-center hover:underline text-base mr-6"><img src="https://www.svgrepo.com/show/384082/view-eye.svg" class="mr-2 box-type h-6"/> View </button>
           </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>