{{> nav-bar}}

<div class="flex flex-row mt-28 mb-12 mx-10">
    {{!-- <div type="button" class="pt-2.5 mr-8 ">
      <img src="https://www.svgrepo.com/show/13655/back.svg" class="box-sizing h-4 w-4 rotate-180"/>
    </div> --}}
    <p class="font-semibold text-4xl text-slate-800">Employee Personal Information</p>

</div>

  <div class="flex flex-row place-content-between mx-10">
    <div
      class="flex flex-row float-left bg-white object-contain h-11 place-items-center mb-4"
      >


          <input type="text" placeholder="Search" class="border border-slate-800 border-r-0 h-11 focus:ring-1 focus:ring-slate-800" />
          <button class="h-11 w-11 bg-slate-700 border border-slate-800 flex items-center place-content-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#f1f5f9"
              class="w-5 h-5"
          >
              <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              ></path>
          </svg>
          </button>

      </div>

      <button class="mb-4 text-white border-0 bg-gradient-to-r from-slate-500 via-slate-600 to-slate-700 hover:bg-gradient-to-br focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button" data-modal-toggle="addEmp_modal">Add Employee</button>
  </div>




{{!-- overflow-x-auto relative --}}
<div class="overflow-x-auto relative mx-10">
  <table class="w-full text-sm text-left text-gray-500">
    <thead
      class=" text-left text-xs text-gray-300 uppercase bg-slate-700"
    >
      <tr>
        <th scope="col" class="py-3 px-6">
          Employee ID
        </th>
        <th scope="col" class="py-3 px-6">
          First Name
        </th>
        <th scope="col" class="py-3 px-6">
          Last Name
        </th>
        <th scope="col" class="py-3 px-6">
          Phone
        </th>
        <th scope="col" class="py-3 px-6">
          Address
        </th>
        <th scope="col" class="py-3 px-6">
          Position
        </th>
        <th scope="col" class="py-3 px-6">
          Status
        </th>
        <th scope="col" class="py-3 px-6">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b text-left">
        <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
        >
          1
        </th>
        <td class="py-4 px-6">
          Louise Lynne
        </td>
        <td class="py-4 px-6">
          Seprado
        </td>
        <td class="py-4 px-6">
          79895
        </td>
        <td class="py-4 px-6">
          #504, Neptune St., Victoria Heights, Lanang, Davao City
        </td>
        <td class="py-4 px-6">
          Admin
        </td>
        <td class="py-4 px-6">
          Active
        </td>
        <td class="py-4 px-6">
            <div class="flex flex-row place-content-center">
              <button type="button" class="flex flex-row h-8 place-items-center hover:underline text-base mr-6"><img src="https://www.svgrepo.com/show/384082/view-eye.svg" class="mr-2 box-type h-6"/> View </button>
              <button type="button" class="flex flex-row h-8 place-items-center hover:underline text-base ml-6"><img src="https://www.svgrepo.com/show/13683/edit.svg" class="mr-2 box-type h-4"/> Edit </button>
           </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>