{{> nav-bar}}

<div class="flex flex-col mt-28 mb-12 mx-10">
    {{!-- <div type="button" class="pt-2.5 mr-8 ">
      <img src="https://www.svgrepo.com/show/13655/back.svg" class="box-sizing h-4 w-4 rotate-180"/>
    </div> --}}
    <p class="font-semibold text-4xl text-slate-800 uppercase tracking-normals">Louise Lynne Seprado</p>
    <p class="font-semibold text-xl text-slate-800 mt-4">Employee's Personal Attendance Record</p>
</div>

<div class="overflow-x-auto relative mx-10">
  <table class="w-full text-sm text-left text-gray-500">
    <thead
      class=" text-left text-xs text-gray-300 uppercase bg-slate-700"
    >
      <tr>
        <th scope="col" class="py-3 px-6">
          Employee ID
        </th>
        <th scope="col" class="py-3 px-6">
          Attendance Type
        </th>
        <th scope="col" class="py-3 px-6">
          Date &amp; Time
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b text-left">
        <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
        >
          1
        </th>
        <td class="py-4 px-6">
          Time-in
        </td>
        <td class="py-4 px-6">
          jejejjeje
        </td>
      </tr>

    </tbody>
  </table>
</div>