{{> nav-bar}}


<div class="flex flex-row mt-28 mb-12 mx-10">
  <div class="flex flex-row justify-end mt-6 h-full w-1/3 mr-6 ">
        <img
        src="https://www.svgrepo.com/show/201784/employees.svg"
        class="h-64 w-64"
        alt="Employee Icon"
        />
    
  </div>

  <div class="basis-2/3 text-slate-800">
   {{!-- <p class="font-semibold text-4xl text-slate-800">My Employee Profile</p> --}}
   {{!-- bg-gray-50 px-8 py-12 shadow-2xl --}}
   <div class="px-8 mt-14 h-full w-full "> 
      {{!-- <p class="font-bold text-2xl mb-12">My Profile</p> --}}
      <p class="font-bold uppercase text-4xl mb-14">Maria Jose Dela Torre</p>

        {{!--parent div that stores flex-row divs--}}
        <div>

          <div class="flex flex-row mb-4">

            <div class="basis-1/5 mr-2" >
              <label for="" class="block mb-0.5 text-sm font-medium text-slate-800">Employee ID</label>
              <input type="text" id="" class="rounded-lg bg-gray-50 border text-slate-800 focus:ring-slate-500 focus:border-slate-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" 
              value="8"
              disabled readonly>
            </div>

            <div class="basis-2/5 mr-2">
              <label for="" class="block mb-0.5 text-sm font-medium text-slate-800">Email Address</label>
              <input type="text" id="" class="rounded-lg bg-gray-50 border text-slate-800 focus:ring-slate-500 focus:border-slate-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" 
              value="mjpd@gmail.com"
              disabled readonly>
            </div>

            <div class="basis-2/5">
              <label for="" class="block mb-0.5 text-sm font-medium text-slate-800">Phone Number</label>
              <input type="text" id="" class="rounded-lg bg-gray-50 border text-slate-800 focus:ring-slate-500 focus:border-slate-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" 
              value="09653585426"
              disabled readonly>
            </div>

          </div>

          <div class="w-full mb-4">
            <label for="" class="block mb-0.5 text-sm font-medium text-slate-800">Complete Address</label>
              <input type="text" id="" class="rounded-lg bg-gray-50 border text-slate-800 focus:ring-slate-500 focus:border-slate-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" 
              value="Blk. 16 Lot 2, Rosalina 3 Village, Baliok, Talomo"
              disabled readonly>
          </div>

          <div class="flex flex-row mb-4">

            <div class="basis-1/4 mr-2" >
              <label for="" class="block mb-0.5 text-sm font-medium text-slate-800">Username</label>
              <input type="text" id="" class="rounded-lg bg-gray-50 border text-slate-800 focus:ring-slate-500 focus:border-slate-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" 
              value="mjpdelatorre"
              disabled readonly>
            </div>

            <div class="basis-1/4 mr-2">
              <label for="" class="block mb-0.5 text-sm font-medium text-slate-800">Password</label>
              <input type="text" id="" class="rounded-lg bg-gray-50 border text-slate-800 focus:ring-slate-500 focus:border-slate-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" 
              value="******"
              disabled readonly>
            </div>

            <div class="basis-1/4 mr-2">
              <label for="" class="block mb-0.5 text-sm font-medium text-slate-800">Position</label>
              <input type="text" id="" class="rounded-lg bg-gray-50 border text-slate-800 focus:ring-slate-500 focus:border-slate-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" 
              value="Admin"
              disabled readonly>
            </div>

            <div class="basis-1/4">
              <label for="" class="block mb-0.5 text-sm font-medium text-slate-800">Status</label>
              <input type="text" id="" class="rounded-lg bg-gray-50 border text-slate-800 focus:ring-slate-500 focus:border-slate-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5" 
              value="Active"
              disabled readonly>
            </div>

          </div>
        </div>
   </div>

  </div>
</div>